.swiper-slide {
  background: #fff;
  box-sizing: border-box;
  border: none;
  height:140px;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 0px;
  font-size:10px;
}

.swiper-slide img {
    height:140px;
}

.bolder
{
    font-weight: bolder;
}

.content-block-title
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-transform: none;
}
.center
{
    text-align: center!important;
}

.category
{
    position:relative;
}

.category span
{
    background-color: white;
    padding: 10px;
}

.category:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #c8c7cc;
    z-index: -1;
}

.list-block ul:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: white!important;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.item-title
{
    font-weight: bolder;
    font-size:1em;
}
.item-subtitle
{
   color:#c8c7cc;
   font-size: 0.5em; 
}
.list-block .item-content
{
       border: 1px!important;
}

.navbar-inner div
{
    font-size:1.5em!important;
    color:#000000;
}